


/* Carousel Container */
.carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
    background-color: #ecf0f1;
    margin: 0 auto;
    max-height: 500px;
    
}

/* Carousel Slide */
.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Carousel Images */
.carousel-slide img {
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    height: auto;
}

/* Carousel Buttons */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    z-index: 9;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .carousel-container {
        height: 300px;
    }

    .carousel-button {
        padding: 8px 12px;
    }
}


.terminal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
    padding: 40px;
    
}

/* Colonna sinistra (terminal e input) */
.left-column {
    flex: 1;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
}

h2 {
    font-size: 18px;
    color: #2c3e50;
}

h3 {
    font-size: 24px;
    color: #2c3e50;
    text-align: center;
}

#terminal {
    flex: 1;
    background-color: #000000;
    border: 2px solid #00FF00;
    font-family: monospace;
    font-size: 16px;
    padding: 15px;
    border-radius: 4px;
    margin-top: 10px;
    height: 300px;
    overflow-y: auto;
    color:#00cc00;
    white-space: pre-wrap;
    
    
}

#commandInput {
    width: calc(100% - 150px);
    background-color: #000000;
    color: #00FF00;
    border: none;
    font-family: monospace;
    font-size: 14px;
    padding: 5px;
    outline: none;
}

input:focus {
    border: none;
    box-shadow: 0 0 10px #00FF00;
}

#startButton {
    background-color: #00FF00;
    color: #000000;
    padding: 5px;
    border: none;
    cursor: pointer;
    width: 135px;
}

#startButton:hover {
    background-color: #00cc00;
}

/* Colonna destra (testo) */
.right-column {
    align-items: center;
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #34495e;
    line-height: 1.6;
    height: 100%;
}

/* schermi piccoli */
@media (max-width: 768px) {
    .terminal-container {
        flex-direction: column;
        padding: 20px;
    }
    .left-column, .right-column {
        width: 100%; 
        margin-bottom: 20px; /
    }

    .left-column {
        order: 2;
    }
    #terminal {
        
        font-size: 12px;
        height: 100%;
        
    }
}

.quote-box {
    max-width: 90%;
    margin: 20px auto;
    padding: 40px;
    background-color: #7eabd8; 
    border-left: 8px solid #0078D7; 
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); 
    color: #ecf0f1; 
    font-family: 'Merriweather', serif; 
    position: relative;
    text-align: center;
}

.quote-box::before {
    content: '“';
    font-size: 100px;
    color: #0078D7; 
    position: absolute;
    top: -30px;
    left: 10px;
    opacity: 0.2; 
}

.quote-box::after {
    content: '”';
    font-size: 100px;
    color: #0078D7; 
    position: absolute;
    bottom: -30px;
    right: 10px;
    opacity: 0.2; 
}

.quote-content {
    position: relative;
    z-index: 1;
}

.quote-content p {
    font-size: 22px;
    line-height: 1.8;
    margin: 0;
    font-weight: 400;
    color: #ecf0f1;
}

.author {
    margin-top: 20px;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    color: #0e4674; 
    text-align: center;
}
